{% extends "base.html" %}

{% block content %}

  <div class="col">

  {% if stop_info %}

    <div class="row">
      <div class="col-md-6 offset-md-3 col">
        <h2 class="text-center text-info">{{ stop.name }}</h2>

        <div class="table">
          <table class="table table-hover">
            <body id="fbody">

              {% for item in stop_info %}

              <tr>
                <td>
                  {{ item.route_name }} ({{ item.vehicle_name }})
                </td>

                <td class="d-none d-sm-table-cell">
                  {{ item.from }}
                </td>

                <td class="d-none d-sm-table-cell">
                  {{ item.to }}
                </td>
                <td>
                  {{ item.time_to_point | to_minutes }}
                </td>

              </tr>

            {% endfor %}

            </body>
          </table>
        </div>
      </div>
    </div>

  {% else %}

    <h2 class="text-center text-info">Some error occured :(</h2>

  {% endif %}
 
  </div>

{% endblock content %}