{% extends "base.html" %}

{% block content %}

  <div class="col">

  {% if stop_info %}

    <div class="row">
      <div class="col-md-6 offset-md-3 col">
        <h2 class="text-center text-info">{{ stop_info.name }}</h2>

        <div class="table">
          <table class="table table-hover">
            <body id="fbody">

              {% for item in stop_info.timetable %}

              <tr>
                <td>
                  {{ item.route }}
                </td>
                <td>
                  {{ item.end_stop }}
                </td>
                <td>
                  {{ item.time_left }}
                </td>

              </tr>

            {% endfor %}

            </body>
          </table>
        </div>
      </div>
    </div>

  {% else %}

    <h2 class="text-center text-info">Some error occured :(</h2>

  {% endif %}

  </div>

{% endblock content %}
