<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=0,maximum-scale=1.0,width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Transport Dashboard</title>

  <link rel="stylesheet" href="/static/css/bootstrap.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

  <script type="text/javascript" src="/static/js/ptr.js"></script>

</head>


<body>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Choose stop</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select class="form-control" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Dashboard</a>

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_all_routes') }}">Routes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_all_stops') }}">Stops</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>

          {% else %}
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Logged in as: {{ current_user.username }}</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                {% if current_user.is_admin %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('admin.index') }}">Admin page</a>
                {% endif %}
              </div>


            </li>

          {% endif %}

        </ul>

        {# <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Add stop</button> #}
      </div>

    </div>
  </nav>

  <br>

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>{{ message }}</p>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>

    <div class="row">
      {% block content %}{% endblock content %}
    </div>

  </div>

{% block extra_js %}{% endblock extra_js %}

<script>
  var ptr = PullToRefresh.init({
    mainElement: 'body',
    onRefresh: function(){ window.location.reload(); }
  });
</script>

</body>
</html>
