{% extends "base.html" %}

{% block content %}
  
{% if data %}

    {# {{ data }}   #}
  {% for stop in data %}

    <div class="col-md-6 col mb-3">
      <div class="card border-primary">
        <div class="card-header">
          <h4>Stop: {{ stop.name }}</h4>
        </div>
        <div class="card-body" id="{{ stop.code }}">
{#           <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Route</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Time</th>
              </tr>
            </thead>

            <tbody>

            {% for item in stop.data[:7] %}

              <tr>
                <td>{{ item['route_name'] }}</td>
                <td>{{ item['from'] }}</td>
                <td>{{ item['to'] }}</td>
                <td>{{ item['time_to_point'] | to_minutes }}</td>
              </tr>

            {% endfor %}

            </tbody>
          </table> #}
        </div>
      </div>
    </div>

  {% endfor %}


  {% else %}

  <h4>No stops added to dashboard.</h4>

{% endif %}

{% endblock content %}
