{% extends "base.html" %}

{% block content %}

  {% if current_user.is_authenticated %}

    {% if data %}

      {% for stop in data %}

        <div class="col-md-6 col-sm-12 mb-3">
          <div class="card border-primary">
            <div class="card-header">
              <form class="delete_stop">
                <input type="hidden" name="stop_code" value="{{ stop.code }}">
                <button type="submit" class="close">&times;</button>
              </form>
              <h4><a href="{{ url_for('monitor_stop', stop_code=stop.code) }}">{{ stop.name }}</a></h4>
            </div>

            <div class="card-body" id="{{ stop.code }}">
              <div id="s{{ stop.code }}" class="col text-center">
                <i class="fa fa-spinner fa-3x fa-spin m-x-auto"></i>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}

      <script>

        // ============== Callbacks ====================
        // called when the client loses its connection
        function onConnectionLost(responseObject) {
          if (responseObject.errorCode !== 0) {
            console.log("Connection Lost. Reason:" + responseObject.errorMessage);
          }

          // try to reconnect?

        }

        // called when a message arrives
        function onMessageArrived(message) {

          // message body:
          // * message.destinationName aka topic;
          // * message.payloadString - payload;
          // * qos, retained, duplicate - other stuff;

          // console.log(message);
          // console.log();
          // console.log("Message: " + message.payloadString);

          json_message = JSON.parse(message.payloadString);

          var table = $('<table class="table table-hover" id="stop_'+ json_message.stop +'"><tbody></tbody></table>');

          json_message['info'].forEach(function(item){
            // console.log(item)
            var row = $('<tr><td>' + item.route_name + ' (' + item.vehicle_name + ')' + '</td><td class="d-none d-sm-table-cell">' + item.from + '</td><td class="d-none d-sm-table-cell">' + item.to + '</td><td>' + Math.floor(item.time_to_point / 60) + '</td></tr>');

          table.append(row);

          });

          $('table#stop_'+json_message.stop).remove()
          $('div#s'+json_message.stop).remove();

          $('#' + json_message.stop).append(table);

        }

        // called when the client connects
        function onConnect() {
          // Once a connection has been made, make a subscription
          console.log("Connected");

          // TODO: subscribe only to own stop;s topics
          client.subscribe("transport/stop/+");

        }
        // =======================================


        $(document).ready(function(){

          // Create a client instance
          // Client(broker, port, clientID)  NB: clientID - should be uniq
          // client = new Paho.MQTT.Client('broker.hivemq.com', 8000, "PublicTransport1");
          client = new Paho.MQTT.Client('broker.hivemq.com', 8000, "{{ room }}");

          // set callback handlers
          client.onConnectionLost = onConnectionLost;
          client.onMessageArrived = onMessageArrived;

          // connect the client
          client.connect({onSuccess: onConnect});

        });



        // $(document).ready(function(){
        //     var socket = io.connect(location.origin + '/dashboard', {reconnection: false});

        //     socket.on('connect', function() {
        //         socket.emit('my_event', {msg: 'Client ACK'});
        //     });

        //     socket.on('connection_update', function(msg) {
        //       console.log(msg)
        //     });

        //     socket.on('update', function(msg) {
        //       console.log(msg)

        //       var table = $('<table class="table table-hover" id="stop_'+ msg.stop +'"><tbody></tbody></table>')

        //       msg['info'].forEach(function(item){
        //         // console.log(item)
        //         var row = $('<tr><td>' + item.route_name + ' (' + item.vehicle_name + ')' + '</td><td class="d-none d-sm-table-cell">' + item.from + '</td><td class="d-none d-sm-table-cell">' + item.to + '</td><td>' + Math.floor(item.time_to_point / 60) + '</td></tr>');

        //         table.append(row)
        //       });

        //       $('table#stop_'+msg.stop).remove()
        //       $('div#s'+msg.stop).remove();

        //       $('#' + msg.stop).append(table);

        //     });
        // });

        $('.delete_stop').on('submit', deleteStop);

        function deleteStop(ev) {
          ev.preventDefault();
          $(this).closest('.card').fadeOut();

          $.ajax({
            method: 'POST',
            url: {{ url_for('delete_stop')|tojson }},
            data: $(this).serialize()
          });
        };

      </script>

    {% else %}

      <div class="col">
        <h2 class="text-center text-info">There are no stops in your dashboard</h2>
      </div>

    {% endif %}

  {% else %}

    <div class="col-md-8 offset-md-2 col">
      <div class="jumbotron">
        <h2>Welcome to Lviv Public Transport dashboard.</h2>
        <hr class="my-4">
        <h4>To create personal dashboard - please <a href="{{ url_for('register') }}">register</a> or <a href="{{ url_for('login') }}">login</a>.</h4>
        <h4>To get info about certain route or stop - use <a href="{{ url_for('show_all_routes') }}">Routes</a> or <a href="{{ url_for('show_all_stops') }}">Stops</a>.</h4>
      </div>
    </div>

  {% endif %}

{% endblock content %}


