{% extends "base.html" %}

{% block content %}

  <div class="col-md-8 offset-md-2 col">

    <div class="row">
      <div class="col-md-8 offset-md-2 col">
        <h2 class="text-center text-info">{{ route.name }}</h2>

        <div class="table">
          <table class="table table-hover">
            <tbody id="fbody">

            {% for _, stop in stops.items() %}

              <tr>
                <td>{{ stop.name }}</td>

                {% if current_user.is_authenticated %}
                  <td>
                    <form class="add_stop">
                      <input type="hidden" name="internal_id" value="{{ stop.internal_id }}">
                      <input type="hidden" name="name" value="{{ stop.name }}">
                      <input type="hidden" name="code" value="{{ stop.code }}">
                      <input type="hidden" name="lat" value="{{ stop.location[0] }}">
                      <input type="hidden" name="lng" value="{{ stop.location[1] }}">
                      <button type="submit" {% if stop.code in user_stops %} class="btn btn-outline-primary btn-success add-btn" disabled title="Stop is already added" {% else %}class="btn btn-primary add-btn"{% endif %}>Add</button>
                    </form>
                  </td>
                {% endif %}

                <td><a href="{{ url_for('monitor_stop', stop_code=stop.code) }}" class="btn btn-primary">Info</a></td>

                {# <td><button type="button" class="btn btn-info" disabled="">Show on map</button></td> #}
              </tr>

            {% endfor %}

            </tbody>

          </table>
        </div>
      </div>
    </div>

  </div>


  <script>

      function addStop(ev) {
        ev.preventDefault();

        var f = $(this);

        $.ajax({
          method: 'POST',
          url: {{ url_for('add_stop')|tojson }},
          data: $(this).serialize(),
          success: function(){
            f.children('button').prop('disabled', true).removeClass('btn-primary').addClass('btn-outline-primary btn-success');
          }
        });
      };

    $('.add_stop').on('submit', addStop);

  </script>

{% endblock content %}
