{% extends "base.html" %}

{% block content %}

  <div class="col">

  {% if routes %}

    <h2 class="text-center text-info">Routes ({{ routes | count }})</h2>

    <div class="input-group col-md-8 offset-md-2 col">
      <input type="text" class="form-control" id="searchInput" placeholder="Search">
    </div>

    <br>

    <div class="row">
      <div class="col-md-8 offset-md-2 col">
        <div class="table">
          <table class="table table-hover">
            <tbody id="fbody">

            {% for id, route in routes.items() %}

              <tr>
                <td>{{ route.name }}</td>
                <td><a href="{{ url_for('show_route_stops', route_id=route.internal_id) }}" class="btn btn-info">List stops</a></td>
                <td><button type="button" class="btn btn-info">Show on map</button></td>
              </tr>

            {% endfor %}

            </tbody>

          </table>
        </div>
      </div>
    </div>


    {% block extra_js %}

      <script src="/static/js/search.js"></script>

    {% endblock extra_js %}




  {% endif %}

  </div>

{% endblock content %}
