{% extends "base.html" %}

{% block content %}

  <div class="col">

  {% if stops %}

    <h2 class="text-center text-info">Stops ({{ stops | count }})</h2>

    <div class="input-group col-md-6 offset-md-3 col">
      <input type="text" class="form-control" id="searchInput" placeholder="Search">
    </div>

    <br>

    <div class="row">
      <div class="col-md-6 offset-md-3 col">
        <div class="table">
          <table class="table table-hover">
            <body id="fbody">

              {% for _, stop in stops.items() %}

              <tr>
                <td>
                  {{ stop.name }}
                </td>

                {% if current_user.is_authenticated %}
                  <td>
                    <form class="add_stop">
                      <input type="hidden" name="internal_id" value="{{ stop.internal_id }}">
                      <input type="hidden" name="name" value="{{ stop.name }}">
                      <input type="hidden" name="code" value="{{ stop.code }}">
                      <input type="hidden" name="lat" value="{{ stop.location[0] }}">
                      <input type="hidden" name="lng" value="{{ stop.location[1] }}">

                      {% if stop.code in user_stops %}
                        <button class="btn  btn-block btn-outline-success btn-success add-btn" disabled title="Stop is already added">
                          <i class="fa fa-check fa-lg"></i>
                        </button>
                      {% else %}
                        <button class="btn  btn-block btn-primary add-btn" type="submit">
                          Add
                        </button>
                      {% endif %}

                    </form>
                  </td>
                {% endif %}

                {# <td><button type="button" class="btn btn-info" disabled="">Show on map</button></td> #}

                <td><a href="{{ url_for('monitor_stop', stop_code=stop.code) }}" class="btn btn-block btn-primary">Info</a></td>

              </tr>

            {% endfor %}

            </body>
          </table>
        </div>
      </div>
    </div>


    {% block extra_js %}

      <script src="/static/js/search.js"></script>

    {% endblock extra_js %}

    <script>

      function addStop(ev) {
        ev.preventDefault();

        $.ajax({
          method: 'POST',
          url: {{ url_for('add_stop')|tojson }},
          data: $(this).serialize()
        });

        $(this).children('button').prop('disabled', true).removeClass('btn-primary').addClass('btn-outline-success').html('<i class="fa fa-check fa-lg"></i>');
      };

      $('.add_stop').on('submit', addStop);

    </script>

  {% else %}

    <h2 class="text-center text-info">Some error occured :(</h2>

  {% endif %}

  </div>

{% endblock content %}
