{% extends "base.html" %}

{% block content %}

  <div class="col">


  {% if stops %}

    <h2 class="text-center text-info">Stops ({{ stops | count }})</h2>

    <div class="input-group col-md-8 offset-md-2 col">
      <input type="text" class="form-control" id="searchInput" placeholder="Search">
    </div>

    <br>

    <div class="row">
      <div class="col-md-8 offset-md-2 col">
        <div class="table">
          <table class="table table-hover">
            <body id="fbody">

              {% for id, stop in stops.items() %}

              <tr>
                <td>
                  <a href="#">
                    {{ stop.name }}
                  </a>
                </td>
                <td>
                  {{ stop.code }}
                </td>

                <td>
                  <form action="{{ url_for('add_stop') }}" method="POST">
                    <input type="hidden" name="internal_id" value="{{ stop.internal_id }}">
                    <input type="hidden" name="name" value="{{ stop.name }}">
                    <input type="hidden" name="code" value="{{ stop.code }}">
                    <button type="submit" class="btn btn-info">Add</button>
                  </form>


                  {# <button type="button" class="btn btn-">Add</button></td> #}
                <td><button type="button" class="btn btn-info">Show on map</button></td>
              </tr>

            {% endfor %}

            </body>

          </table>
        </div>
      </div>
    </div>

    <script>

      $("#searchInput").keyup(function() {
        var rows = $("#fbody").find("tr").hide();
        var data = this.value.split(" ");

        $.each(data, function(i, v) {
          rows.filter(":contains('" + v + "')").show();
        });

      });

    </script>

  {% else %}

    <h2>Some error occured</h2>

  {% endif %}
 
  </div>

{% endblock content %}