{% extends "base.html" %}

{% block content %}

  <div class="col">

  {% if stops %}


  {# {{ stops }} #}

    <h2 class="text-center text-info">Stops ({{ stops | count }})</h2>

    <div class="input-group col-md-6 offset-md-3 col">
      <input type="text" class="form-control" id="searchInput" placeholder="Search">
    </div>

    <br>

    <div class="row">
      <div class="col-md-6 offset-md-3 col">
        <div class="table">
          <table class="table table-hover">
            <body id="fbody">

              {% for id, stop in stops.items() %}

              <tr>
                <td>
                  {{ stop.name }}
                </td>
{#                 <td>
                  {{ stop.code }}
                </td> #}

                <td>
                  <form class="add_stop">
                    <input type="hidden" name="internal_id" value="{{ stop.internal_id }}">
                    <input type="hidden" name="name" value="{{ stop.name }}">
                    <input type="hidden" name="code" value="{{ stop.code }}">
                    <button type="submit" {% if stop.code in user_stops %} class="btn btn-outline-primary btn-info add-btn" disabled title="Stop is already added" {% else %}class="btn btn-info add-btn"{% endif %}>Add</button>
                  </form>
                </td>

                {# <td><button type="button" class="btn btn-info" disabled="">Show on map</button></td> #}

                <td><a href="{{ url_for('monitor_stop', stop_code=stop.code) }}" class="btn btn-info">Info</a></td>

              </tr>

            {% endfor %}

            </body>
          </table>
        </div>
      </div>
    </div>


    {% block extra_js %}

      <script src="/static/js/search.js"></script>

    {% endblock extra_js %}

    <script>

      function addStop(ev) {
        ev.preventDefault();

        $.ajax({
          method: 'POST',
          url: {{ url_for('add_stop')|tojson }},
          data: $(this).serialize()
        });

        $(this).children('button[type=submit]').prop('disabled', true).addClass('btn-outline-primary');
      };

      $('.add_stop').on('submit', addStop);

    </script>

  {% else %}

    <h2>Some error occured</h2>

  {% endif %}
 
  </div>

{% endblock content %}